@import './../../../styles/shared/variables';

:host {
  background-color: #F7F2F2;

  .job-section {
    margin: 20px 0;
    border: 2px solid #e0e0e0;
    padding: 20px;
    border-radius: 4px;
    background-color: #f9f9f9;

    .position-section {
      margin-top: 20px;
      border: 1px solid #e0e0e0;
      padding: 15px;
      border-radius: 4px;
      background-color: $white;
    }

    button {
      margin-right: 8px;
      background-color: #198755;
    }
  }
}
